/* Visual */
body {
  text-align: left;
  background: url(../images/psychic.jpeg);
  background-size: 100%;
}

/*general*/
h1 {
  padding-bottom: 40px;
  padding-left:0px;
  font-size: 70px;
  line-height: 49px;
  color: rgb(245, 189, 4);
  align-content: left;
}

h2 {
  padding-bottom: 40px;
  padding-left:30px;
  font-size: 50px;
  line-height: 49px;
  color: #f70707;
  align-content: center;
  font-style: italic;
}

/*Main*/
.container {
  clear: both;
  margin: 0 auto;
  width: 50%;
  max-width: 1080px;
  padding: 60px;
  float: left;
}

span {
  font-size: 1.5rem;
  margin: 0 5px;
  padding: 5px;
  color: white;
}

<<<<<<< HEAD
#playGame {
  padding: 7px 25px;
  font-size: 1.5rem;
  background-color: rgb(18, 1, 253);
  border-color: rgba(245, 248, 248, 0.925);
  border-width: 2px;
  border-radius: 5px;
  color: whitesmoke;
}

.buttonStart {
  margin: 20px;
  padding: 1px 1px 1px;
  font-size: 60px;
||||||| merged common ancestors
p {
  font-style: italic;
=======
#playGame {
  padding: 7px 25px;
  font-size: 1.5rem;
  background-color: rgb(18, 1, 253);
  border-color: rgba(245, 248, 248, 0.925);
  border-width: 2px;
  border-radius: 5px;
  color: whitesmoke;
>>>>>>> 9f229c4076ad07d3d54ce46f187674d39eb9c733
}

<<<<<<< HEAD
#Title {
  color: blue;
||||||| merged common ancestors
button#start {
  padding: 4px 30px;
  margin-top: 40px;
=======
.buttonStart {
  margin: 20px;
  padding: 1px 1px 1px;
  font-size: 60px;
}

#Title {
  color: blue;
>>>>>>> 9f229c4076ad07d3d54ce46f187674d39eb9c733
  font-size: 1.5rem;
<<<<<<< HEAD
}
||||||| merged common ancestors
  background: rgb(245, 189, 4);
}
=======
}
>>>>>>> 9f229c4076ad07d3d54ce46f187674d39eb9c733
